<!DOCTYPE html>
<html>
<head>
	<title>Numbers are My Friends!</title>
</head>
<body>
	<header>
		<h1>Here You Go!</h1>
	</header>
	<h3>Your post:</h3>
	<%= type %>
	<%= weight %> ounces
	<h3>Price</h3>
	$<%= price %>
</body>
</html>